input {
  color: darkslategrey;
  margin: 0;
  padding: 0.5rem;
}

input[type="text"]{
  box-sizing: border-box;
  font-size: 1.2rem;
  width: 100%;
}

input[type="text"]:focus {
  outline: 1px solid #9e42f4;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.inputField {
  border: 1rem solid transparent;
  box-sizing: border-box;
}

.input-error {
  outline: 1px solid red;
}

.input-success {
  outline: 1px solid green;
}