h1, label {
  color: #9e42f4;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}


hr {
  border-top: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}

.AppWrapper {
  padding: 50px 15px;
}

.formWrapper {
  background: white;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 600px;
  padding: 45px 45px 20px 45px;
}

.formHeader {
  text-align: center;
}

.formFooter {
  margin: 0 auto;
  margin-top: 1.5rem;
  text-align: center;
}
#submitButton {
  background:transparent;
  border: none;
  color: white;
  font-size: 1.15rem;
  outline: none;
  padding: 1.2rem;
  position: relative;
  will-change: transform;
  z-index: 0;
}

#submitButton::before {
  background: #3f0d7c;
  border-radius: 6px;
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  bottom: -5px;
  left: 0;
  z-index: -1;
}

#submitButton::after {
  background: #9e42f4;
  content: '';
  border-radius: 6px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#submitButton:hover {
  transform: translateY(2px);
}

#submitButton:hover:before {
  transform: translateY(-2px);
}

#submitButton:active {
  transform: translateY(5px);
  transition: none;
}
#submitButton:active:before {
  transform: translateY(-5px);
  transition: none;
}

