h1, label {
  color: #9e42f4;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

input {
  color: darkslategrey;
  margin: 0;
  padding: 0.5rem;
}

input[type="text"]{
  box-sizing: border-box;
  font-size: 1.2rem;
  width: 100%;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

hr {
  border-top: 1px solid #e0e0e0;
  margin-bottom: 1rem;
}

.AppWrapper {
  padding: 50px 15px;
}

.formWrapper {
  background: white;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 600px;
  padding: 45px 45px 20px 45px;
}

.formHeader {
  text-align: center;
}

.inputField {
  border: 1rem solid transparent;
  box-sizing: border-box;
}

.formFooter {
  margin: 0 auto;
  margin-top: 1.5rem;
  text-align: center;
}
#submitButton {
  background: #9e42f4;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.15rem;
  padding: 1.2rem;
}

